backends/Makefile
backends/backends.pro.user
debian/youker-assistant/
debian/files
debian/youker-assistant.debhelper.log
debian/youker-assistant.postinst.debhelper
debian/youker-assistant.prerm.debhelper
debian/youker-assistant.substvars
mainui/Makefile
processmanager/Makefile
processmanager/*.o
processmanager/moc_*
processmanager/ui_*.h
processmanager/qrc_img.cpp
processmanager/processmanager.pro.user
shredmanager/Makefile
shredmanager/*.o
shredmanager/moc_*
shredmanager/ui_*.h
shredmanager/qrc_img.cpp
shredmanager/shredmanager.pro.user
tmp/
obj/
Makefile
youker-assistant
youker-assistant.pro.user
!.git*
.git/
