[Desktop Entry]
Name=kylin-assistant
Name[zh_CN]=麒麟助手
Comment=kylin-assistant
Comment[zh_CN]=麒麟助手
Keywords=Settings;Cleaning;Customization
Exec=/usr/bin/youker-assistant %u
Icon=youker-assistant.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Viewer;
