Package: youker-assistant
Version: 0.1.5-0ubuntu1
Architecture: i386
Maintainer: UbuntuKylin Team <ubuntukylin-members@list.launchpad.net>
Installed-Size: 3060
Depends: libphonon-dev, python, python-dbus, python-support (>= 0.90), libc6 (>= 2.3.6-6~), libgcc1 (>= 1:4.1.1), libphonon4 (>= 4:4.2.0), libqt4-dbus (>= 4:4.5.3), libqt4-declarative (>= 4:4.7.0~rc1), libqtcore4 (>= 4:4.7.0~beta1), libqtgui4 (>= 4:4.8.0), libstdc++6 (>= 4.1.1), phonon
Section: misc
Priority: optional
Homepage: https://launchpad.net/youker-assistant
Description: It is a system assistant tool developed by UbuntuKylin Team.
 Helps all users manage their linux system conveniently.
 In this 0.1 Release, it provides three features:
 show system information, customize the system UI,
 and clean the system garbage. More features are
 developing for its future release.
