Source: youker-assistant
Section: gnome
Priority: optional
Maintainer: Ubuntu Kylin Team <ubuntukylin-members@list.launchpad.net>
Build-Depends: debhelper (>= 9),
               dh-translations,
               pkg-config,
               qtchooser,
               libqt4-dev,
               qt4-default,
               libphonon-dev,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/youker-assistant

Package: youker-assistant
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         youker-assistant-daemon,
         libphonon-dev,
Description: Help users to manage system better
 It is aimed at helping all users to manage their linux system conveniently.
