Source: youker-assistant
Section: misc
Priority: optional
Maintainer: UbuntuKylin Team <ubuntukylin-members@list.launchpad.net>
Build-Depends: debhelper (>= 9),
               dh-translations,
               libphonon-dev,
               libqt4-dev,
               fcitx-libs-dev,
               pkg-config,
               python (>= 2.6.6-3~),
               qt4-default,
               qtchooser,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/youker-assistant
Vcs-Bzr: https://code.launchpad.net/~ubuntukylin-members/youker-assistant/trunk

Package: youker-assistant
Architecture: any
Depends: libphonon4,
         phonon-backend-gstreamer,
         liboil0.3,
         python-psutil,
         python,
         python-dbus,
         python-support (>= 0.90),
         ${misc:Depends},
         ${shlibs:Depends},
Description: System Assistant Tool developed by UbuntuKylin Team
 Youker Assistant is a powerful GUI tool, for users who want to use
 and manage their systems easily. It would be welcome by most common
 or nonprofessional Linux users.
 .
 It offers a pleasant and modern experience, with intuitive graphical
 components. It was written using Qt 4.8, QML and Python. In this 0.1
 Release, it provides three features: show system information, customize
 the system UI, and clean the system garbage. More features are
 developing for its future release.
